#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000 !important;
  background: white 10%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 10px #000;
  background-image: linear-gradient(to bottom right, #f9c922, #3498db);
  font-size: 30px;
  font-weight: bold;
}

#preloader #preloader-inner {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 70%;
  border: 4px solid transparent;
  border-top-color: #003152;
  animation: spin 2.3s linear infinite;
}

#preloader #preloader-inner:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #41660d;
  animation: spin 3.2s linear infinite;
}

#preloader #preloader-inner:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  animation: spin 2.5s linear infinite;
}

#preloader #preloader-inner:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(to bottom right, #f9c922, #3498db); */
  opacity: 0.9; /* ajusta la opacidad según lo desees */
  z-index: -1; /* coloca el fondo detrás del texto */
}

#preloader #preloader-inner {
  position: relative;
  z-index: 1; /* coloca el texto encima del fondo */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
